.container-fluid.hedr
  .col-md-1.col-xs-1.no-mob-pad
    #sidebarCollapse.menu-btn(onclick='myFunction(this)')
      .bar1
      .bar2
      .bar3
  .col-md-2.col-xs-4.no-mob-pad
    img.img-responsive.logo.pull-left(src='images/logo1.png')
  .col-md-3
    .search-dv.pull-left
      .input-group
        input.search(type='text', value='', placeholder='Search dashboard...')
        span.input-group-btn
          button.btn.btn-primary(type='button') Go
  .col-md-5.col-xs-5.no-mob-pad
    .pull-right.log-txt
      p
        span.hidden-xs Welcome 
        b  #{usernameLogin ? usernameLogin : ' '}
      p
        span.hidden-xs Last login - Date / Time :
        b(class="#{lastLogin}",id="lastLogin")
  .col-md-1.col-xs-2.no-mob-pad
    a.pull-right.log-btn(href='/log-out')
      span.logout-btn
        img(src='images/icon/exit.png')
  span.search-btn.hidden-md.hidden-lg.pull-right
    img(src='images/icon/search.png')










 
          