.scrolling
  nav#sidebar
    ul.list-unstyled.components(style='overflow: hidden; width: auto; height: 95%;')
      li.nav-item
        a(href='dashboard')
          span.sp-nav
            img(src='images/icon/home.png')
          |    Home Page
      li.nav-item
        a(href='fsm-details')
          span.sp-nav
            img(src='images/icon/fsm-detail.png')
          |    FSM Details
      li.nav-item
        a(href='fba-list')
          span.sp-nav
            img(src='images/icon/lead-details.png')
          |   FBA List
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/offline-quote.png')
          |    Offline Quote Requests
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/new-user.png')
          |    Login Request Log
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/email.png')
          |    Send SMS
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/submit-query.png')
          |    Submit Query
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/user-queries.png')
          |    User Queries
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/user-feedback.png')
          |    User Feedback
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/notification.png')
          |    Send Notification
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/login.png')
          |    Demo User Details
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/login-icon.png')
          |    Create Demo Login
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/user-queries.png')
          |    FBA List
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/customer-validation.png')
          |    Customer ID Validation
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/unsigned-lead.png')
          |    Un-Assigned Leads
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/drill-down-report.png')
          |    Drill Down Report
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/reward-point.png')
          |    Reward Point Details
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/my-business-icon.png')
          |    Payment History
      li.nav-item
        a(href='users')
          span.sp-nav
            img(src='images/icon/new-user.png')
          |    Register User
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/setting-icon.png')
          |    Reset Password
      li.nav-item
        a(href='#')
          span.sp-nav
            img(src='images/icon/setting-icon.png')
          |    Settings
