extends layout
block content
         .container-fluid.white-bg
           .col-md-3.col-xs-12
             .brdr.text-center
              img.img-responsive.center-img.img-circle-cs(src="/images/registration.png")
              h1 Registration
              p
               |There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.
              button.btn.btn-info.center-obj()  View More
           .col-md-3.col-xs-12  
             .col-md-3.col-xs-12
             .brdr.text-center
              img.img-responsive.center-img.img-circle-cs(src="/images/registration.png")
              h1 Registration
              p
               |There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.
              button.btn.btn-info.center-obj()  View More

           .col-md-3.col-xs-12  
             .col-md-3.col-xs-12
             .brdr.text-center
              img.img-responsive.center-img.img-circle-cs(src="/images/registration.png")
              h1 Registration
              p
               |There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.
              button.btn.btn-info.center-obj()  View More
              
           .col-md-3.col-xs-12  
             .col-md-3.col-xs-12
             .brdr.text-center
              img.img-responsive.center-img.img-circle-cs(src="/images/registration.png")
              h1 Registration
              p
               |There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.
              button.btn.btn-info.center-obj()  View More       
                 

               //-  script.
                 $(function(){ alert("hello jade"); })
                