doctype html
html
  head
    title= titleFinmart

    
    link(rel='stylesheet', href='stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(type='text/javascript' src='javascripts/jquery.min.js')
    script(type='text/javascript' src='javascripts/bootstrap.min.js')
    
  body.bg
    block content
script(type='text/javascript' src='javascripts/script.js')
script(type='text/javascript' src='javascripts/jquery.validate.min.js')



