doctype html
html
  head
    - var title = !{title} || "FIN-MART"
     title !{title}

    
    link(rel='stylesheet', href='stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/sidebar.css')
    script(type='text/javascript' src='javascripts/jquery.min.js')
    script(type='text/javascript' src='javascripts/bootstrap.min.js')
    
  body
    include dashboardlayout/header
    .wrapper
            include dashboardlayout/sidebar
            .content
               block content

    
script(type='text/javascript' src='javascripts/script.js')
script(type='text/javascript' src='javascripts/jquery.validate.min.js')





