doctype html
html
  head
    - var title = !{title} || "FIN-MART"
     title !{title}
    meta( name='viewport', content='width=device-width, initial-scale=1' )
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sidebar.css')
    script(type='text/javascript' src='/javascripts/jquery.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')
    link(type='text/css', rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    include dashboardlayout/header
    .wrapper
            include dashboardlayout/sidebar
            #content
               block content

    
script(type='text/javascript' src='javascripts/script.js')
script(type='text/javascript' src='javascripts/jquery.validate.min.js')
script(type='text/javascript' src='javascripts/bootstrap/jquery.dataTables.min.js')
script(type='text/javascript' src='javascripts/bootstrap/dataTables.bootstrap.min.js')







