extends layout
block content 
        

  .container-fluid.white-bg
    .col-md-12
      h3.mrg-btm REGISTER USER
    form(method='post', action='submit-query.html')
      .col-md-12.col-xs-12
        .form-group
          label Username
          input.form-control(type='text')
      .col-md-12.col-xs-12
        .form-group
          label Email Id
          input.form-control(type='email')
      .col-md-12.col-xs-12
        .form-group
          label Password
          input.form-control(type='password')
      .col-md-12.col-xs-12
        .form-group
          label Confirm Password
          input.form-control(type='password')
      .col-md-12.col-xs-12
        .form-group
          select.selectpicker.select-opt.form-control(required='')
            option(value='1') Authorities
            option(value='1') SUB CATEGORIES
            option(value='2') HEALTH INSURANCE
            option(value='3') MOTOR INSURANCE
            option(value='4') TRAVEL INSURANCE
            option(value='5') HOME LOAN
            option(value='6') PERSONAL LOAN
            option(value='7') LOAN AGAINST PROPERTY
      .form-group
        .col-xs-12.form-padding.top-lead
          #AuthorityV.col-sm-6.col-xs-12.form-padding(style='overflow-y:scroll;height:270px;')
            div
              table#Body_gvAuthority.table.table-responsive.table-hover(cellspacing='0', style='border-style:None;border-collapse:collapse;')
                tbody
                  tr.headerstyle(align='center', style='color:White;background-color:#005387;font-size:14px;font-weight:normal;')
                    th(scope='col')
                      input#Body_gvAuthority_chkSelectAll.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl01$chkSelectAll', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span AUTHORITIES
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_0.used(type='hidden', name='ctl00$Body$gvAuthority$ctl02$hdnIndex', value='0')
                      input#Body_gvAuthority_chkVals_0.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl02$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_0 FSM DETAILS
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_1.used(type='hidden', name='ctl00$Body$gvAuthority$ctl03$hdnIndex', value='1')
                      input#Body_gvAuthority_chkVals_1.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl03$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_1 LEAD DETAILS
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_2.used(type='hidden', name='ctl00$Body$gvAuthority$ctl04$hdnIndex', value='2')
                      input#Body_gvAuthority_chkVals_2.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl04$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_2 OFFLINE QUOTE REQUESTS
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_3.used(type='hidden', name='ctl00$Body$gvAuthority$ctl05$hdnIndex', value='3')
                      input#Body_gvAuthority_chkVals_3.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl05$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_3 OD-DISCOUNT GRID
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_4.used(type='hidden', name='ctl00$Body$gvAuthority$ctl06$hdnIndex', value='4')
                      input#Body_gvAuthority_chkVals_4.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl06$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_4 OD-DISCOUNT UPLOAD
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_5.used(type='hidden', name='ctl00$Body$gvAuthority$ctl07$hdnIndex', value='5')
                      input#Body_gvAuthority_chkVals_5.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl07$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_5 OD-DISCOUNT DETAILS
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_6.used(type='hidden', name='ctl00$Body$gvAuthority$ctl08$hdnIndex', value='21')
                      input#Body_gvAuthority_chkVals_6.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl08$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_6 LOGIN REQUEST LOG
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_7.used(type='hidden', name='ctl00$Body$gvAuthority$ctl09$hdnIndex', value='22')
                      input#Body_gvAuthority_chkVals_7.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl09$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_7 SEND SMS
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_8.used(type='hidden', name='ctl00$Body$gvAuthority$ctl10$hdnIndex', value='6')
                      input#Body_gvAuthority_chkVals_8.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl10$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_8 VEHICLE SEGMENT MAPPING
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_9.used(type='hidden', name='ctl00$Body$gvAuthority$ctl11$hdnIndex', value='7')
                      input#Body_gvAuthority_chkVals_9.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl11$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_9 ADD-ON MAST
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_10.used(type='hidden', name='ctl00$Body$gvAuthority$ctl12$hdnIndex', value='8')
                      input#Body_gvAuthority_chkVals_10.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl12$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_10 SUBMIT QUERY
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_11.used(type='hidden', name='ctl00$Body$gvAuthority$ctl13$hdnIndex', value='9')
                      input#Body_gvAuthority_chkVals_11.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl13$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_11 USER QUERIES
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_12.used(type='hidden', name='ctl00$Body$gvAuthority$ctl14$hdnIndex', value='10')
                      input#Body_gvAuthority_chkVals_12.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl14$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_12 USER FEEDBACK
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_13.used(type='hidden', name='ctl00$Body$gvAuthority$ctl15$hdnIndex', value='11')
                      input#Body_gvAuthority_chkVals_13.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl15$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_13 SEND NOTIFICATION
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_14.used(type='hidden', name='ctl00$Body$gvAuthority$ctl16$hdnIndex', value='12')
                      input#Body_gvAuthority_chkVals_14.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl16$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_14 DEMO USER DETAILS
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_15.used(type='hidden', name='ctl00$Body$gvAuthority$ctl17$hdnIndex', value='13')
                      input#Body_gvAuthority_chkVals_15.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl17$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_15 CREATE DEMO LOGIN
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_16.used(type='hidden', name='ctl00$Body$gvAuthority$ctl18$hdnIndex', value='14')
                      input#Body_gvAuthority_chkVals_16.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl18$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_16 FBA LIST
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_17.used(type='hidden', name='ctl00$Body$gvAuthority$ctl19$hdnIndex', value='15')
                      input#Body_gvAuthority_chkVals_17.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl19$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_17 CUSTOMERID VALIDATION
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_18.used(type='hidden', name='ctl00$Body$gvAuthority$ctl20$hdnIndex', value='16')
                      input#Body_gvAuthority_chkVals_18.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl20$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_18 UN-ASSIGNED LEADS
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_19.used(type='hidden', name='ctl00$Body$gvAuthority$ctl21$hdnIndex', value='17')
                      input#Body_gvAuthority_chkVals_19.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl21$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_19 DRILL DOWN REPORT
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_20.used(type='hidden', name='ctl00$Body$gvAuthority$ctl22$hdnIndex', value='18')
                      input#Body_gvAuthority_chkVals_20.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl22$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_20 REWARD POINT DETAILS
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_21.used(type='hidden', name='ctl00$Body$gvAuthority$ctl23$hdnIndex', value='19')
                      input#Body_gvAuthority_chkVals_21.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl23$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_21 PAYMENT HISTORY
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvAuthority_hdnIndex_22.used(type='hidden', name='ctl00$Body$gvAuthority$ctl24$hdnIndex', value='20')
                      input#Body_gvAuthority_chkVals_22.used(type='checkbox', name='ctl00$Body$gvAuthority$ctl24$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvAuthority_lblVals_22 REGISTER USER
          #StatesV.col-sm-6.col-xs-12.form-padding(style='overflow-y:scroll;height:270px;')
            div
              table#Body_gvStateList.table.table-responsive.table-hover(cellspacing='0', style='border-style:None;border-collapse:collapse;')
                tbody
                  tr.headerstyle(align='center', style='color:White;background-color:#005387;font-size:14px;font-weight:normal;')
                    th(scope='col')
                      input#Body_gvStateList_chkSelectAll.used(type='checkbox', name='ctl00$Body$gvStateList$ctl01$chkSelectAll', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span States
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_0.used(type='hidden', name='ctl00$Body$gvStateList$ctl02$hdnStateid', value='1')
                      input#Body_gvStateList_chkVals_0.used(type='checkbox', name='ctl00$Body$gvStateList$ctl02$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_0 ANDAMAN-NICOBAR
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_1.used(type='hidden', name='ctl00$Body$gvStateList$ctl03$hdnStateid', value='2')
                      input#Body_gvStateList_chkVals_1.used(type='checkbox', name='ctl00$Body$gvStateList$ctl03$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_1 ANDHRA PRADESH
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_2.used(type='hidden', name='ctl00$Body$gvStateList$ctl04$hdnStateid', value='3')
                      input#Body_gvStateList_chkVals_2.used(type='checkbox', name='ctl00$Body$gvStateList$ctl04$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_2 ARUNACHAL PRADESH
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_3.used(type='hidden', name='ctl00$Body$gvStateList$ctl05$hdnStateid', value='4')
                      input#Body_gvStateList_chkVals_3.used(type='checkbox', name='ctl00$Body$gvStateList$ctl05$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_3 ASSAM
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_4.used(type='hidden', name='ctl00$Body$gvStateList$ctl06$hdnStateid', value='5')
                      input#Body_gvStateList_chkVals_4.used(type='checkbox', name='ctl00$Body$gvStateList$ctl06$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_4 BIHAR
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_5.used(type='hidden', name='ctl00$Body$gvStateList$ctl07$hdnStateid', value='6')
                      input#Body_gvStateList_chkVals_5.used(type='checkbox', name='ctl00$Body$gvStateList$ctl07$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_5 CHANDIGARH
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_6.used(type='hidden', name='ctl00$Body$gvStateList$ctl08$hdnStateid', value='7')
                      input#Body_gvStateList_chkVals_6.used(type='checkbox', name='ctl00$Body$gvStateList$ctl08$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_6 CHHATTISGARH
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_7.used(type='hidden', name='ctl00$Body$gvStateList$ctl09$hdnStateid', value='8')
                      input#Body_gvStateList_chkVals_7.used(type='checkbox', name='ctl00$Body$gvStateList$ctl09$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_7 DADRA & NAGAR HAVELI
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_8.used(type='hidden', name='ctl00$Body$gvStateList$ctl10$hdnStateid', value='9')
                      input#Body_gvStateList_chkVals_8.used(type='checkbox', name='ctl00$Body$gvStateList$ctl10$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_8 DAMAN & DIU
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_9.used(type='hidden', name='ctl00$Body$gvStateList$ctl11$hdnStateid', value='10')
                      input#Body_gvStateList_chkVals_9.used(type='checkbox', name='ctl00$Body$gvStateList$ctl11$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_9 DELHI
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_10.used(type='hidden', name='ctl00$Body$gvStateList$ctl12$hdnStateid', value='11')
                      input#Body_gvStateList_chkVals_10.used(type='checkbox', name='ctl00$Body$gvStateList$ctl12$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_10 GOA
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_11.used(type='hidden', name='ctl00$Body$gvStateList$ctl13$hdnStateid', value='12')
                      input#Body_gvStateList_chkVals_11.used(type='checkbox', name='ctl00$Body$gvStateList$ctl13$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_11 GUJARAT
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_12.used(type='hidden', name='ctl00$Body$gvStateList$ctl14$hdnStateid', value='13')
                      input#Body_gvStateList_chkVals_12.used(type='checkbox', name='ctl00$Body$gvStateList$ctl14$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_12 HARYANA
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_13.used(type='hidden', name='ctl00$Body$gvStateList$ctl15$hdnStateid', value='14')
                      input#Body_gvStateList_chkVals_13.used(type='checkbox', name='ctl00$Body$gvStateList$ctl15$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_13 HIMACHAL PRADESH
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_14.used(type='hidden', name='ctl00$Body$gvStateList$ctl16$hdnStateid', value='15')
                      input#Body_gvStateList_chkVals_14.used(type='checkbox', name='ctl00$Body$gvStateList$ctl16$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_14 JAMMU KASHMIR
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_15.used(type='hidden', name='ctl00$Body$gvStateList$ctl17$hdnStateid', value='16')
                      input#Body_gvStateList_chkVals_15.used(type='checkbox', name='ctl00$Body$gvStateList$ctl17$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_15 JHARKHAND
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_16.used(type='hidden', name='ctl00$Body$gvStateList$ctl18$hdnStateid', value='17')
                      input#Body_gvStateList_chkVals_16.used(type='checkbox', name='ctl00$Body$gvStateList$ctl18$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_16 KARNATAKA
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_17.used(type='hidden', name='ctl00$Body$gvStateList$ctl19$hdnStateid', value='18')
                      input#Body_gvStateList_chkVals_17.used(type='checkbox', name='ctl00$Body$gvStateList$ctl19$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_17 KERALA
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_18.used(type='hidden', name='ctl00$Body$gvStateList$ctl20$hdnStateid', value='19')
                      input#Body_gvStateList_chkVals_18.used(type='checkbox', name='ctl00$Body$gvStateList$ctl20$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_18 LAKSHADWEEP
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_19.used(type='hidden', name='ctl00$Body$gvStateList$ctl21$hdnStateid', value='20')
                      input#Body_gvStateList_chkVals_19.used(type='checkbox', name='ctl00$Body$gvStateList$ctl21$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_19 MADHYA PRADESH
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_20.used(type='hidden', name='ctl00$Body$gvStateList$ctl22$hdnStateid', value='21')
                      input#Body_gvStateList_chkVals_20.used(type='checkbox', name='ctl00$Body$gvStateList$ctl22$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_20 MAHARASHTRA
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_21.used(type='hidden', name='ctl00$Body$gvStateList$ctl23$hdnStateid', value='22')
                      input#Body_gvStateList_chkVals_21.used(type='checkbox', name='ctl00$Body$gvStateList$ctl23$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_21 MANIPUR
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_22.used(type='hidden', name='ctl00$Body$gvStateList$ctl24$hdnStateid', value='23')
                      input#Body_gvStateList_chkVals_22.used(type='checkbox', name='ctl00$Body$gvStateList$ctl24$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_22 MEGHALAYA
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_23.used(type='hidden', name='ctl00$Body$gvStateList$ctl25$hdnStateid', value='24')
                      input#Body_gvStateList_chkVals_23.used(type='checkbox', name='ctl00$Body$gvStateList$ctl25$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_23 MIZORAM
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_24.used(type='hidden', name='ctl00$Body$gvStateList$ctl26$hdnStateid', value='25')
                      input#Body_gvStateList_chkVals_24.used(type='checkbox', name='ctl00$Body$gvStateList$ctl26$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_24 NAGALAND
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_25.used(type='hidden', name='ctl00$Body$gvStateList$ctl27$hdnStateid', value='26')
                      input#Body_gvStateList_chkVals_25.used(type='checkbox', name='ctl00$Body$gvStateList$ctl27$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_25 ORISSA
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_26.used(type='hidden', name='ctl00$Body$gvStateList$ctl28$hdnStateid', value='27')
                      input#Body_gvStateList_chkVals_26.used(type='checkbox', name='ctl00$Body$gvStateList$ctl28$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_26 PONDICHERRY
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_27.used(type='hidden', name='ctl00$Body$gvStateList$ctl29$hdnStateid', value='28')
                      input#Body_gvStateList_chkVals_27.used(type='checkbox', name='ctl00$Body$gvStateList$ctl29$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_27 PUNJAB
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_28.used(type='hidden', name='ctl00$Body$gvStateList$ctl30$hdnStateid', value='29')
                      input#Body_gvStateList_chkVals_28.used(type='checkbox', name='ctl00$Body$gvStateList$ctl30$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_28 RAJASTHAN
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_29.used(type='hidden', name='ctl00$Body$gvStateList$ctl31$hdnStateid', value='30')
                      input#Body_gvStateList_chkVals_29.used(type='checkbox', name='ctl00$Body$gvStateList$ctl31$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_29 SIKKIM
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_30.used(type='hidden', name='ctl00$Body$gvStateList$ctl32$hdnStateid', value='31')
                      input#Body_gvStateList_chkVals_30.used(type='checkbox', name='ctl00$Body$gvStateList$ctl32$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_30 TAMILNADU
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_31.used(type='hidden', name='ctl00$Body$gvStateList$ctl33$hdnStateid', value='37')
                      input#Body_gvStateList_chkVals_31.used(type='checkbox', name='ctl00$Body$gvStateList$ctl33$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_31 TELANGANA
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_32.used(type='hidden', name='ctl00$Body$gvStateList$ctl34$hdnStateid', value='32')
                      input#Body_gvStateList_chkVals_32.used(type='checkbox', name='ctl00$Body$gvStateList$ctl34$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_32 TRIPURA
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_33.used(type='hidden', name='ctl00$Body$gvStateList$ctl35$hdnStateid', value='33')
                      input#Body_gvStateList_chkVals_33.used(type='checkbox', name='ctl00$Body$gvStateList$ctl35$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_33 UTTAR PRADESH
                  tr(align='left', style='font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_34.used(type='hidden', name='ctl00$Body$gvStateList$ctl36$hdnStateid', value='34')
                      input#Body_gvStateList_chkVals_34.used(type='checkbox', name='ctl00$Body$gvStateList$ctl36$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_34 UTTARAKHAND
                  tr(align='left', style='background-color:White;font-size:12px;height:15px;')
                    td
                      input#Body_gvStateList_hdnStateid_35.used(type='hidden', name='ctl00$Body$gvStateList$ctl37$hdnStateid', value='35')
                      input#Body_gvStateList_chkVals_35.used(type='checkbox', name='ctl00$Body$gvStateList$ctl37$chkVals', style='width: auto; float: left; display: inline-block; margin-right: 16px;')
                      span#Body_gvStateList_lblVals_35 WEST BENGAL
      .col-md-12.col-xs-12
        br
        input.btn.btn-default.submit-btn.border(type='submit')
