extends ../layout
block content
        
 .container-fluid.white-bg
  .col-md-12
    h3.mrg-btm FBA List
  .col-md-12
    .overflow-scroll
      .table-responsive
        table.table.table-bordered.table-striped.tbl
          thead
            tr
              th Full Name
              th Created Date
              th Mobile No
              th Email ID
              th
              th Password
              th City
              th FSM Name
              th POSP No
              th Loan ID
              th Posp Name
              th Partner Info
              th Documents
              th Bank Account
          tbody
            tr
              td LAKHINANDAN SHARMA
              td 16 Jan 2017
              td 9954429253
              td lakhinandanlicisssssssssssss@gmail.com
              td payment Link
              td *****
              td DIBRUGARH
              td 785675
              td dgdg
              td UPDATE
              td 36892
              td  
              td Pending
              td No
