extends layout
block content 
                     .container
                        form.form-horizontal(role='form')
                            h2 Registration Form
                            .form-group
                            label.col-sm-3.control-label(for='firstName') Full Name
                            .col-sm-9
                                input#firstName.form-control(type='text', placeholder='Full Name', autofocus='')
                                span.help-block Last Name, First Name, eg.: Smith, Harry
                            .form-group
                            label.col-sm-3.control-label(for='email') Email
                            .col-sm-9
                                input#email.form-control(type='email', placeholder='Email')
                            .form-group
                            label.col-sm-3.control-label(for='password') Password
                            .col-sm-9
                                input#password.form-control(type='password', placeholder='Password')
                            .form-group
                            label.col-sm-3.control-label(for='birthDate') Date of Birth
                            .col-sm-9
                                input#birthDate.form-control(type='date')
                            .form-group
                            label.col-sm-3.control-label(for='country') Country
                            .col-sm-9
                                 select#country.form-control
                                    option(value='0') Book A
                                    option(value='1') Book B
                                    option(value='2') Book C
                           
                             .form-group 
                            .col-xs-6.col-sm-6.col-md-6
                                 
                                  
                                 .containerscroll
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br




                            .col-xs-6.col-sm-6.col-md-6
                                .containerscroll
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br
                                    input(type='checkbox')
                                    |  This is checkbox 
                                    br


                            .form-group
                            .col-sm-9.col-sm-offset-3
                                button.btn.btn-primary.btn-block(type='submit') Register
                       
                            .form-group 
                