.container-fluid.hedr   
   .col-md-1.col-xs-2.nopad
     .menu-btn#sidebarCollapse
      .bar1
      .bar2
      .bar3
     
   .col-md-7.col-xs-8
      img#img-responsive.logo(src="/images/logo1.png")
      span#search-btn.hidden-md.hidden-lg.pull-right
       img(src="/images/icon/search.png")

   .search-dv   
    .input-group
      input.form-control(type="text" placeholder="Search dashboard...")
      span.input-group-btn
       button.btn.btn-primary() GO

   .col-md-4.col-xs-2   
    .pull-left.log-txt.hidden-xs
      p
       |Welcome 
       b 
            
            if (Login!='')
               !{Login}   
          
      p
       |Last login - Date / Time :
       b
         if(Last_login)
         !{Last_login}
     a.pull-right.log-btn(href="log-out") 
      span#logout-btn
       img(src="/images/icon/exit.png")