.scrolling
  nav#sidebar
   ul.list-unstyled.components.side_bar_cl  
    li
      a(href="#")   
       span.sp-nav
          img(src="/images/icon/home.png") 
       &nbsp;&nbsp; Home Page  

    li
      a(href="#")   
       span.sp-nav
          img(src="/images/icon/fsm-detail.png") 
       &nbsp;&nbsp; Home Page  
       
    li
      a(href="#")   
       span.sp-nav
          img(src="/images/icon/lead-details.png") 
       &nbsp;&nbsp; Home Page        
    